{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

{% for category, messages in app.flashes %}
    {% for message in messages %}
        <div class="background-yellow alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="mb-4 mt-1">
    <button class="btn-pink" id="search" class="">Filtrer par âge</button>
    <button class="btn-pink" id="reinitialize">Réinitialiser</button>
    </div>
{{ form_end(form) }}

<div class="row row-cols-1 row-cols-md-3 g-4" id="container-rating-zone">

{% for activity in activities %}
        <div class="col col-width activity-card">
            <div class="card h-100">
            <a href="{{ path('app_activity_show', {'id': activity.id}) }}">
            <img src="/uploads/{{ activity.picture }}" class="card-img-top" alt="...">
            </a>
                <div class="card-body" >
                    <h5 class="card-title text-pink"><a class="card-title text-pink" href="{{ path('app_activity_show', {'id': activity.id}) }}">{{ activity.name}} à {{ activity.city }}</a></h5>
                    <p class="card-text"><strong>Description :</strong> {{ activity.description }}</p>
                            
                            {% if averageRating[activity.id]["0-3ans"] > 0 %}
                            
                            <div class="rating-zone">
                                <p>0-3ans :
                                    {% for i in 1.. averageRating[activity.id]["0-3ans"] %}
                                        <img class="gold-star" src="/uploads/gold-star.png" alt="...">
                                    {% endfor %}
                                </p>
                            </div>
                            {% endif %}

                            {% if averageRating[activity.id]["3-6ans"] > 0 %}
                            
                            <div class="rating-zone">
                                <p>3-6ans :
                                    {% for i in 1.. averageRating[activity.id]["3-6ans"] %}
                                        <img class="gold-star" src="/uploads/gold-star.png" alt="...">
                                    {% endfor %}
                                </p>
                            </div>
                            {% endif %}

                            {% if averageRating[activity.id]["6-12ans"] > 0 %}
                            
                            <div class="rating-zone">
                                <p>6-12ans :
                                    {% for i in 1.. averageRating[activity.id]["6-12ans"] %}
                                        <img class="gold-star" src="/uploads/gold-star.png" alt="...">
                                    {% endfor %}
                                </p>
                            </div>
                            {% endif %}

                            {% if averageRating[activity.id]["12-99ans"] > 0 %}
                            
                            <div class="rating-zone">
                                <p>12-99ans :
                                    {% for i in 1.. averageRating[activity.id]["12-99ans"] %}
                                        <img class="gold-star" src="/uploads/gold-star.png" alt="...">
                                    {% endfor %}
                                </p>
                            </div>
                            {% endif %}
                
            </div>
       


                    <div class="card-body">
                        <div class="div-button-evaluate">
                        <button class="btn-pink">
                            <a class="btn-pink" href="{{ path('app_activity_new_rating', {'id': activity.id}) }}">Evaluer l'activité</a>
                        </button>
                        </div>

{# for future embedded controller
<ul>
{{ render(controller('App\\Controller\\ActivityController::newRating', {id: activity.id})) }}
</ul>#}

                        <div class="div-button-evaluate">
                        <button id="open-rating" class="btn-yellow">Afficher les évaluations</button>
                        </div>
                    </div>
            </div>
         </div>

{% endfor %}

</div>

{% endblock %}