{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

{% for category, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


<div class="row row-cols-1 row-cols-md-3 g-4">

{% for activity in activities %}
        <div class="col col-width">
            <div class="card h-100">
            <img src="/uploads/{{ activity.picture }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-pink">{{ activity.name}} à {{ activity.city }}</h5>
                <p class="card-text">Description : {{ activity.description }}</p>
                {% for rating in activity.ratings %}
                {% if rating.rate is not same as 0 %}
                <div>
                    <p>{{ rating.age }} : 
                        {% for i in 1.. rating.rate %}
                            <img class="gold-star" src="/uploads/gold-star.png" alt="...">
                        {% endfor %}
                    </p>
                </div>
                {% endif %}
                {% endfor %}
                <div class="align-items-end">
                <button id="rating-zone">
                    <a class="navbar-brand nav-text btn" href="{{ path('app_rating_new') }}">Evaluer</a>
                </button>
                </div>
            </div>
            </div>
        </div>
{% endfor %}

</div>

{% endblock %}