{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    

<p class="hidden">{{ activity.id }} à {{ activity.city }}</p>

<div>
<div class="d-flex flex-column flex-lg-row show-details">
    <div class="d-flex justify-content-start show-img">
    <img src="/uploads/{{ activity.picture }}" style="{#width: 30rem;#}" class="show-img" alt="...">
    </div>
    <div>

    <div class="ms-lg-4">
        <div class="m-3"><h5 class="card-title">{{ activity.name }} à {{ activity.city }}</h5></div>
        <div class="m-3"><strong>Ville :</strong> {{ activity.city }}</div>
        <div class="m-3"><strong>Description : </strong>{{ activity.description }}</div>
        <table class="m-3">
            <tbody>
                <tr>
                    <th><strong>Evaluations :</strong></th>
                </tr>
                {% for rating in activity.ratings %}
                {% if rating.rate is not same as 0 %}
                <tr>
                    <th>{{ rating.age }} : </th>
                    {% for i in 1.. rating.rate %}
                    <td class="d-inline-block justify-content-start"><img class="gold-star" src="/uploads/gold-star.png" alt="..."></td>
                    {% endfor %}  
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>



<div class="d-flex justify-content-center m-5">

    <button class="show-btn m-5"><a class="show-btn" href="{{ path('app_home') }}">back</a></button>
    {% if is_granted('ROLE_ADMIN') %}
    <button class="show-btn m-5"><a class="show-btn" href="{{ path('app_activity_edit', {'id': activity.id}) }}">edit</a></button>
    {{ include('activity/_delete_form.html.twig') }}
    {% endif %}

</div>

{% endblock %}
